html
	head
		title!= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/jquery-ui.css')
		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/jquery-ui.min.js')
		script.
			$(document).ready(function() {
				$( "input[type=submit], input[type=button], a.button" ).button();
			});
	body
		.head
			#sides
				#left
					img(src='/images/logo.png', alt='', style='float: left;height:144px;')
				#right
					h1(style='float: left;height:144px;') ISS FIT - Admin Tool
		.container(style="margin-left:20px;")
			h1!= message
			div
				form(action=action, method='post', enctype='multipart/form-data')
					- var index = 0
					each key in editKeys
						- var title = titles[index++]
						h3!=title
						if editKeys.indexOf(key) != -1
							- var value = obj[key]
							if key == 'name' || key == 'fullName'
								p=value
								input(type='hidden', value=value, name=key, id=key)
							else if key == 'admin'
								select(id=key, name=key)
									option(value=0, selected=value === 0) No
									option(value=1, selected=value === 1) Yes
							else if key == 'categories'
								- var cats = ["Vegetables / Sides", "Meat / Fish", "Drink", "Dessert & Snacks", "Breakfast", "Fruit & Nuts"]
								select(id=key, name=key, style="width:200px;height:80px;", multiple="multiple")
									- var categoriesId = obj["categoriesId"]
									for catValue in cats
										if value.indexOf(catValue) == -1
											option(value=catValue) #{catValue}
										else
											option(value=categoriesId[value.indexOf(catValue)], selected="selected") #{catValue}
							else if key == 'origin'
								- var origins = ["NASA Foods", "Russian Foods", "JAXA Foods", "CSA Foods", "ESA Foods"]
								select(id=key, name=key, style="width:200px;")
									for originValue in origins
										option(value=originValue, selected=value === originValue) #{originValue}
							else if key == 'productProfileImage' || key == 'profileImage'
								if value
									div
										ul
											li Current image: #{value}
									input(type='file', name=key, id=key, accept='image/*')
								else
									input(type='file', name=key, id=key, accept='image/jpeg, image/jpg')
							else
								input(type='text', value=value, name=key, id=key, style="width:200px;")
					each value, key in obj
						if editKeys.indexOf(key) == -1
							input(type='hidden', value=value, name=key, id=key)
					p
						input(type='submit',value='Save')
						a(href="/", class="button") Cancel
						a(href="/delete" + action, class="button") Delete
