html
	head
		title!= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/jquery-ui.css')
		link(rel='stylesheet', href='/css/theme.css')
		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/jquery-ui.min.js')
		script(type='text/javascript', src='/js/jquery.validate.js')
		script(type='text/javascript', src='/js/additional-methods.js')
		script.
			var data = '!{error}';
		script.
			$(document).ready(function() {
				$('#dialog').dialog({
					autoOpen: false,
					modal: true,
					position: { my: 'top', at: 'center', of : '#new-container' },
					buttons: {
						Ok: function() {
							$( this ).dialog( "close" );
						}
					}
				});
				
				$( "input[type=submit], input[type=button], a.button" ).button();
				
				// create validation
				var errorMessage = 'Please select an JPG image file with .jpg extension.';
				$("#form").validate({
					messages: {
						productProfileImage: {
							accept: errorMessage,
							extension: errorMessage
						},
						profileImage: {
							accept: errorMessage,
							extension: errorMessage
						}
					}
				});
				if (undefined != data && data.length > 0) {
					$('#message').text(data);
					$('#dialog').dialog('option', 'title', 'Error');
					$('#dialog').dialog('open');
				}
			});
	body
		.head
			#sides
				#left
					img(src='/images/logo.png', alt='', style='float: left;height:144px;')
				#right
					h1(style='float: left;height:144px;') ISS FIT - Admin Tool
		.container(id="new-container", style="margin-left:20px;")
			h1!= message
			div(id='dialog')
				p(id='message')			
			div
				form(id='form', action=action, method='post', enctype='multipart/form-data')
					- var index = 0
					- var numerics = ["energy", "sodium", "fluid", "protein", "carb", "fat", "dailyTargetEnergy", "dailyTargetSodium", "dailyTargetFluid", "dailyTargetProtein", "dailyTargetCarb", "dailyTargetFat", "weight"]						
					each key in keys
						- var title = titles[index++]
						- var value = defaultValues[key]
						h3!=title
						if key == 'categories'
							- var cats = ["Vegetables / Sides", "Meat / Fish", "Drink", "Dessert & Snacks", "Breakfast", "Fruit & Nuts"]						
							select(id=key, name=key, style="width:200px;height:80px;", multiple="multiple" required)
								for catValue in cats
									if undefined == value || value.indexOf(catValue) == -1
										option(value=catValue) #{catValue}
									else
										option(value=catValue, selected="selected") #{catValue}
						else if key == 'admin'
							select(id=key, name=key)
								option(value=0 selected=value == 0) No
								option(value=1 selected=value == 1) Yes
						else if key == 'origin'
							- var origins = ["NASA Foods", "Russian Foods", "JAXA Foods", "CSA Foods", "ESA Foods"]
							select(id=key, name=key, style="width:200px;")
								for originValue in origins
									option(value=originValue, selected=value === originValue) #{originValue}
						else if key == 'productProfileImage' || key == 'profileImage'
							input(type='file', name=key, id=key, accept='image/jpg, image/jpeg' extension="jpg")
						else if numerics.indexOf(key) != -1
							input(type='text', value=value, name=key, id=key, style='width:200px;' required number)
						else if key == 'barcode'
							input(type='text', value=value, name=key, id=key, style='width:200px;' digits)
						else
							input(type='text', value=value, name=key, id=key, style='width:200px;' required)
					input(type='hidden', value=uuid, key="id", name="id")
					p
						input(type='submit',value='Save')
						a(href="/", class="button") Cancel
