.page-header
	h2!= message
div
	form(action=action,method='GET')
		input(type='submit',value='New',class="btn")
div
	table(id="#{tableId}", style="padding-top:10px")
		thead
			tr
				th(style="text-align:left") Name
				th Edit
		tbody
			each row, i in rows
				tr
					td(style="text-align:left") #{row.name}
					td
						form(action=action + '/' + row.id,method='get')
							input(type='submit',value='Go', class="goButton")